@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Pacifico&display=swap");

body {
  background-color: rgb(243, 243, 243);
  font-family: "Dosis", sans-serif;
}
.frontPage {
  display: grid;
  justify-items: center;
  margin: 100px;
}
.appName {
  font-family: "Pacifico", cursive;
  font-display: center;
  font-size: 50px;
  place-self: center;
  margin-bottom: 20px;
  margin-top: 0;
  animation-name: logo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  width: 350px;
}
.logo {
  animation-name: logo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes logo {
  from {
    color: rgb(47, 134, 255);
  }
  to {
    color: rgb(255, 47, 123);
  }
}
.button {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.signupBtn {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  color: white;
  place-self: center;
  text-align: center;
  border: 0;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  background-color: rgb(74, 96, 110);
  padding-bottom: 8px;
}
.loginBtn {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  color: white;
  place-self: center;
  text-align: center;
  border: 0;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  cursor: rgb(73, 73, 73);
  background-color: rgb(74, 96, 110);
  padding-bottom: 8px;
}
.loginDialog {
  border: 0;
  border-radius: 30px;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  height: 200px;
  width: 180px;
  gap: 5px;
  display: grid;
  grid-template-areas:
    "form"
    "closeBtn";
  text-align: center;
  color: rgb(74, 96, 110);
}
.loginDialogForm {
  color: rgb(74, 96, 110);
  gap: 10px;
}
.closebtnD {
  margin: 10px;
}
.closeBtn {
  grid-area: closeBtn;
}
#submitBtn {
  border: 0;
  border-radius: 20px;
  align-content: center;
  height: 30px;
  width: 80px;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(74, 96, 110);
}
.signupDialog {
  border: 0;
  border-radius: 30px;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  height: 250px;
  width: 180px;
  gap: 5px;
  display: grid;
  grid-template-areas:
    "form2"
    "closeBtn2";
  text-align: center;
  color: rgb(74, 96, 110);
}
.signupCloseBtn {
  grid-area: closeBtn2;
}
#submitSignup {
  border: 0;
  border-radius: 20px;
  align-content: center;
  height: 30px;
  width: 80px;
  margin-top: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(74, 96, 110);
}
.header > #navList {
  grid-area: header;
  border-bottom: 3px solid rgb(74, 96, 110);
  margin: 0;
  padding: 20px;
  list-style: none;
  display: grid;
  grid-template-areas: "welcome spa spa spa spa spa notice addFriend logout";
  gap: 10px;
  height: 80px;
}
#welcome {
  grid-area: welcome;
  font-family: "Pacifico", cursive;
  margin: 0;
  font-size: 50px;
  animation-name: header;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  width: 500px;
}
@keyframes header {
  from {
    color: rgb(47, 134, 255);
  }
  to {
    color: rgb(255, 47, 123);
  }
}
#space {
  grid-area: spa;
  margin: 0;
  padding: 20px;
}
#navList > li {
  margin: 0;
  padding: 0;
  gap: 10px;
  justify-self: flex-end, space-evenly;
  width: 30px;
}
.notification {
  grid-area: notice;
  color: rgb(74, 96, 110);
  margin-top: 25px;
}
.addFriends {
  grid-area: addFriend;
  color: rgb(74, 96, 110);
  margin-top: 25px;
}
.logout {
  grid-area: logout;
  color: rgb(74, 96, 110);
  margin-top: 25px;
}
#sideNavList {
  position: absolute;
  list-style: none;
  background-color: rgb(74, 96, 110);
  height: 980px;
  width: 40px;
  margin: 0;
  padding: 20px;
}
.friendsList {
  color: aliceblue;
  align-self: center;
  padding-bottom: 40px;
}
.addEvent {
  color: aliceblue;
  align-self: center;
  padding-bottom: 10px;
}
.addEventDialog {
  border: 0;
  border-radius: 30px;
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  height: 480px;
  width: 200px;
  gap: 5px;
  display: grid;
  grid-template-areas:
    "form"
    "closeBtn3";
  text-align: center;
  color: rgb(74, 96, 110);
}
.addEventDialog > input[name="startdate"] {
  width: 150px;
}
.closeAddEventBtn {
  grid-area: closeBtn3;
}
#submitEventBtn {
  border: 0;
  border-radius: 20px;
  align-content: center;
  height: 30px;
  width: 80px;
  margin-top: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(74, 96, 110);
}
.addFriendDialog {
  border: 0;
  border-radius: 30px;
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  height: 350px;
  min-width: 300px;
  display: grid;
  justify-content: center;
  grid-template-areas:
    "form"
    "closeBtn4";
  color: rgb(74, 96, 110);
}
#closeAddFriendBtn {
  grid-area: closeBtn4;
  justify-content: flex-end;
  margin: 0;
}
.addFriendDialog p {
  margin: 0;
  text-align: end;
  margin-bottom: 10px;
}
#allUsers {
  justify-content: flex-start;
  min-height: 150px;
}
#allUsers p {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  align-content: center;
  font-size: 30px;
  width: 150px;
  margin: 0;
  padding: 5px;
}
.addFriendDialog form {
  margin: 0;
  min-height: 100px;
}
.addFriendErrorMsg {
  text-align: center;
  font-size: 30px;
  color: rgb(156, 51, 124);
}
.friendsListDialog {
  border: 0;
  border-radius: 30px;
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  height: 350px;
  min-width: 300px;
  justify-content: center;
  display: grid;
  grid-template-areas:
    "form"
    "closeBtn5";
  color: rgb(74, 96, 110);
}
.closeFriendsList {
  grid-area: closeBtn5;
  place-items: end;
  margin: 0;
}
.friendsListDialog form {
  margin: 0;
  min-height: 100px;
}
.friendsListDialog p {
  margin: 0;
  height: 40px;
 
  margin-bottom: 10px;
}
.chatBox {
  width: 560px;
  height: 800px;
  border: 0;
  border-radius: 30px;
  font-family: "Dosis", sans-serif;
}
.friend {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  margin: 50px;
}
#messageList {
  background-color: #ffeccc;
  border-radius: 5px;
  padding: 10px;
  margin: 25px;
}
#sendMessageTextInput {
  margin-left: 25px;
  padding: 5px;
  font-size: 20px;
  width: 380px;
  margin-top: 0;
}
#submitChat {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: white;
  place-self: center;
  text-align: center;
  border: 0;
  border-radius: 8px;
  height: 37px;
  width: 120px;
  cursor: pointer;
  margin: 0;
  background-color: rgb(74, 96, 110);
}
.closeChat {
  margin: 10px;
}

/* calendar */
#calendar-body {
  position: absolute;
  margin-left: 110px;
  margin-top: 30px;
}
.wrapper {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  height: 950px;
  width: 1300px;
}
.wrapper #calendar-Header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
  height: 100px;
}
#calendar-Header .icons {
  display: flex;
  color: rgb(74, 96, 110);
}
#calendar-Header .icons span {
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: rgb(74, 96, 110);
  text-align: center;
  place-self: center;
  line-height: 40px;
  font-size: 45px;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child {
  margin-right: -10px;
}
#calendar-Header .icons span:hover {
  background: #f2f2f2;
}
#calendar-Header .current-date {
  font-size: 50px;
  font-weight: 500;
  font-family: "Dosis", sans-serif;
  color: rgb(74, 96, 110);
}
.calendar {
  padding: 30px;
  height: 750px;
  color: rgb(74, 96, 110);
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: end;
}
.calendar .days {
  margin-bottom: 20px;
  padding: 0;
  height: 680px;
}
.calendar .weeks {
  padding: 0;
  margin: 0;
  height: 40px;
  align-content: center;
  background-color: rgb(140, 191, 187);
}
.calendar .weeks li {
  font-weight: 500;
  cursor: default;
  color: rgb(255, 255, 255);
  width: 167px;
  padding: 5px;
  font-size: 1.07rem;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  padding: 5px;
  color: rgb(74, 96, 110);
  width: 165.5px;
  border: 0.5px solid #adc9cd;
  font-size: 1.07rem;
  min-height: 95px;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
  background-color: rgb(172, 220, 216);
}
.eventList {
  margin: 4px;
  min-height: 25px;
  min-width: 80px;
  text-overflow: wrap;
  border-radius: 10px;
  border: 1px solid white;
  background-color: #d4aad6;
  text-align: center;
  font-size: 15px;
  color: rgb(255, 255, 255);
}
.someoneEventList {
  margin: 4px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: #f9e3a1;
  min-height: 25px;
  min-width: 80px;
  text-overflow: wrap;
  text-align: center;
  font-size: 15px;
  color: rgb(64, 56, 82);
}
.eventDetailDialog {
  border: 0;
  border-radius: 30px;
  min-height: 300px;
  min-width: 300px;
  gap: 5px;
  color: rgb(74, 96, 110);
}
.eventName {
  font-family: "Pacifico", cursive;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
  color: rgb(192, 61, 61);
}
.eventsDetail {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  list-style: none;
  color: rgb(74, 96, 110);
}


.session-user-message {
  text-align: end;
}
