@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Pacifico&display=swap");

body {
  background-color: rgb(243, 243, 243);
  font-family: "Dosis", sans-serif;
}

.frontPage {
  display: grid;
  justify-items: center;
  margin: 100px;
}

.appName {
  font-family: "Pacifico", cursive;
  font-display: center;
  font-size: 50px;
  place-self: center;
  margin-bottom: 20px;
  margin-top: 0;
  animation-name: logo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.logo {
  animation-name: logo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes logo {
  from {
    color: rgb(47, 134, 255);
  }
  to {
    color: rgb(255, 47, 123);
  }
}

.button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.signupBtn {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  color: white;
  place-self: center;
  text-align: center;
  border: 0;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  background-color: rgb(74, 96, 110);
  padding-bottom: 8px;
}

.loginBtn {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  color: white;
  place-self: center;
  text-align: center;
  border: 0;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  cursor: rgb(73, 73, 73);
  background-color: rgb(74, 96, 110);
  padding-bottom: 8px;
}

.loginDialog {
  border: 0;
  border-radius: 30px;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  height: 200px;
  width: 180px;
  gap: 5px;
  display: grid;
  grid-template-areas:
    "form"
    "closeBtn";
  text-align: center;
  color: rgb(74, 96, 110);
}

.loginDialogForm {
  color: rgb(74, 96, 110);
  gap: 10px;
}

.closeBtn {
  grid-area: closeBtn;
}

#submitBtn {
  border: 0;
  border-radius: 20px;
  align-content: center;
  height: 30px;
  width: 80px;
  margin-top: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(74, 96, 110);
}

.signupDialog {
  border: 0;
  border-radius: 30px;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  height: 250px;
  width: 180px;
  gap: 5px;
  display: grid;
  grid-template-areas:
    "form2"
    "closeBtn2";
  text-align: center;
  color: rgb(74, 96, 110);
}

.signupCloseBtn {
  grid-area: closeBtn2;
}

#submitSignup {
  border: 0;
  border-radius: 20px;
  align-content: center;
  height: 30px;
  width: 80px;
  margin-top: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(74, 96, 110);
}
